@font-face {
    font-family: 'BarsaFont';
    font-style: normal;
    font-weight: 900;
    src: url('/assets/Resources/fonts/SansFarsiNumMonoSpace/woff/IRANSansMonoSpacedNum_Black.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url('/assets/Resources/fonts/SansFarsiNumMonoSpace/ttf/IRANSansMonoSpacedNum_Black.ttf') format('truetype');
}
@font-face {
    font-family: 'BarsaFont Black';
    font-style: normal;
    font-weight: 900;
    src: url('/assets/Resources/fonts/SansFarsiNumMonoSpace/woff/IRANSansMonoSpacedNum_Black.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url('/assets/Resources/fonts/SansFarsiNumMonoSpace/ttf/IRANSansMonoSpacedNum_Black.ttf') format('truetype');
}
@font-face {
    font-family: 'BarsaFont';
    font-style: normal;
    font-weight: bold;
    src: url('/assets/Resources/fonts/SansFarsiNumMonoSpace/woff/IRANSansMonoSpacedNum_Bold.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url('/assets/Resources/fonts/SansFarsiNumMonoSpace/ttf/IRANSansMonoSpacedNum_Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'BarsaFont Bold';
    font-style: normal;
    font-weight: bold;
    src: url('/assets/Resources/fonts/SansFarsiNumMonoSpace/woff/IRANSansMonoSpacedNum_Bold.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url('/assets/Resources/fonts/SansFarsiNumMonoSpace/ttf/IRANSansMonoSpacedNum_Bold.ttf') format('truetype');
}
@font-face {
    font-family: 'BarsaFont';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/Resources/fonts/SansFarsiNumMonoSpace/woff/IRANSansMonoSpacedNum_Medium.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url('/assets/Resources/fonts/SansFarsiNumMonoSpace/ttf/IRANSansMonoSpacedNum_Medium.ttf') format('truetype');
}
@font-face {
    font-family: 'BarsaFont Medium';
    font-style: normal;
    font-weight: 500;
    src: url('/assets/Resources/fonts/SansFarsiNumMonoSpace/woff/IRANSansMonoSpacedNum_Medium.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url('/assets/Resources/fonts/SansFarsiNumMonoSpace/ttf/IRANSansMonoSpacedNum_Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'BarsaFont';
    font-style: normal;
    font-weight: 300;
    src: url('/assets/Resources/fonts/SansFarsiNumMonoSpace/woff/IRANSansMonoSpacedNum_Light.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url('/assets/Resources/fonts/SansFarsiNumMonoSpace/ttf/IRANSansMonoSpacedNum_Light.ttf') format('truetype');
}
@font-face {
    font-family: 'BarsaFont Light';
    font-style: normal;
    font-weight: 300;
    src: url('/assets/Resources/fonts/SansFarsiNumMonoSpace/woff/IRANSansMonoSpacedNum_Light.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url('/assets/Resources/fonts/SansFarsiNumMonoSpace/ttf/IRANSansMonoSpacedNum_Light.ttf') format('truetype');
}

@font-face {
    font-family: 'BarsaFont';
    font-style: normal;
    font-weight: 200;
    src: url('/assets/Resources/fonts/SansFarsiNumMonoSpace/woff/IRANSansMonoSpacedNum_UltraLight.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url('/assets/Resources/fonts/SansFarsiNumMonoSpace/ttf/IRANSansMonoSpacedNum_UltraLight.ttf')
            format('truetype');
}
@font-face {
    font-family: 'BarsaFont UltraLight';
    font-style: normal;
    font-weight: 200;
    src: url('/assets/Resources/fonts/SansFarsiNumMonoSpace/woff/IRANSansMonoSpacedNum_UltraLight.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url('/assets/Resources/fonts/SansFarsiNumMonoSpace/ttf/IRANSansMonoSpacedNum_UltraLight.ttf')
            format('truetype');
}

@font-face {
    font-family: 'BarsaFont';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/Resources/fonts/SansFarsiNumMonoSpace/woff/IRANSansMonoSpacedNum.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url('/assets/Resources/fonts/SansFarsiNumMonoSpace/ttf/IRANSansMonoSpacedNum.ttf') format('truetype');
}
@font-face {
    font-family: 'BarsaFont Num';
    font-style: normal;
    font-weight: normal;
    src: url('/assets/Resources/fonts/SansFarsiNumMonoSpace/woff/IRANSansMonoSpacedNum.woff') format('woff'),
        /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
            url('/assets/Resources/fonts/SansFarsiNumMonoSpace/ttf/IRANSansMonoSpacedNum.ttf') format('truetype');
}
