<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
    <httpRuntime enableVersionHeader="false" />
    </system.web>
    <system.webServer>
    <httpProtocol>
      <customHeaders>
            <remove name="X-Powered-By" />
            <add name="X-XSS-Protection" value="1; mode=block" />
            <add name="X-Frame-Options" value="SAMEORIGIN" />
            <add name="Service-Worker-Allowed" value="/" />
            <!-- StartConfig -->
            <add name="Content-Security-Policy" value="script-src 'self' 'unsafe-eval' 'unsafe-inline' resource://pdf.js blob: ; style-src 'self' 'unsafe-inline' 'unsafe-eval'" />
            <!-- EndConfig -->
       </customHeaders>
    </httpProtocol>
    <rewrite>      
        <allowedServerVariables>
            <add name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" />
            <add name="HTTP_CONTENT_TYPE" />
            <add name="HTTP_ACCEPT_ENCODING" />
            <add name="RESPONSE_SERVER" />
            <add name="RESPONSE_X-POWERED-BY" />
            <add name="RESPONSE_X-ASPNET-VERSION" />            
        </allowedServerVariables>    
            <rules>
            <clear/>
                <!-- <rule name="HTTPS Redirect" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" appendQueryString="false" />
                </rule> -->
                <rule name="Web Socket Reverse" enabled="true" stopProcessing="true">
                      <match url="ws://localhost:4200(.*)" />
                      <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                      </conditions>
                      <action type="Rewrite" url="ws://localhost/{R:1}" logRewrittenUrl="true" />
                </rule>
                <rule name="Web Socket Reverse 2" enabled="true" stopProcessing="true">
                      <match url="wss://localhost:4200(.*)" />
                      <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                      </conditions>
                      <action type="Rewrite" url="wss://localhost/{R:1}" logRewrittenUrl="true" />
                </rule>	
                <rule name="Prioritize Brotli">
                    <match url=".*" />
                    <conditions><add input="{HTTP_ACCEPT_ENCODING}" pattern="\bbr(?!;q=0)\b" /></conditions>
                    <serverVariables>
                        <set name="HTTP_ACCEPT_ENCODING" value="br" />
                        <set name="HTTP_X_ORIGINAL_ACCEPT_ENCODING" value="br" />
                    </serverVariables>
                </rule>
                <rule name="Api Reverse" enabled="true" stopProcessing="true">
                    <match url="(WebDav/|_Temporary/|api2/)(.*)|(Lib/go.js)|(Lib/Echarts/|Lib/leaflet/|Lib/scripts/|Customization/|Scripts/)(.*)|(WebResource.axd|DXR.axd|DXB.axd)(.*)|(^Resources/fonts/)(.*)|(Report94/AspViewer/)(.*)|(Customization/Usercss.css)|(^Auth|assets/Images|Fields/File/Base/FileDownload.aspx|Fields/File/Base/FileUploadFormMulti.ashx|Lib/ext-3.4.1/resources|wopi|Lib/gantt-master|lib/tinymce|lib/monaco-editor|_Documents/Help)(.*)|(api|Auth|signalr|Localization)/(.*)|IH.ashx(.*)|(GenericErrorPage.aspx|MyStyles.css|Report94|Fields|Localization|Module|MultiSystem|SimpleForm|UnitTest)(.*)\.as[h|p]x(.*)" />
                    <action type="Rewrite" url="https://localhost/{R:0}" />
                </rule>
                <rule name="js-br">
                    <match url="^(.*)(main|runtime|polyfills|scripts|styles)(.*).(js|css)" />
                    <action type="Rewrite" url="{R:0}.br" appendQueryString="false" />
                    <conditions>
                        <add input="{HTTP_ACCEPT_ENCODING}" pattern="br" />
                    </conditions>
                </rule>
            </rules>
            <outboundRules>
                <clear />
                <rule name="RESPONSE_X-POWERED-BY">
                    <match serverVariable="RESPONSE_X-POWERED-BY" pattern=".*" />
                    <action type="Rewrite" />
                </rule>
                <rule name="RESPONSE_X-ASPNET-VERSION">
                    <match serverVariable="RESPONSE_X-ASPNET-VERSION" pattern=".*" />
                    <action type="Rewrite" />
                </rule>
                <rule name="RESPONSE_SERVER">
                    <match serverVariable="RESPONSE_SERVER" pattern=".*" />
                    <action type="Rewrite" />
                </rule>
                <rule name="content-type-js" preCondition="Match js file">
                    <match serverVariable="RESPONSE_CONTENT_TYPE" pattern="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
                    <action type="Rewrite" value="application/javascript" />
                </rule>
                <rule name="content-type-css" preCondition="match css">
                    <match serverVariable="RESPONSE_CONTENT_TYPE" pattern="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
                    <action type="Rewrite" value="text/css" />
                </rule>
                <rule name="encoding-br" preCondition="Add br Encoding">
                    <match serverVariable="RESPONSE_CONTENT_ENCODING" pattern="(.*)" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="true" />
                    <action type="Rewrite" value="br" />
                </rule>
				 <preConditions>
					<preCondition name="Match js file">
                        <add input="{REQUEST_URI}" pattern="^(.*)\.js" />
					</preCondition>
                    <preCondition name="Add br Encoding">
                        <add input="{RESPONSE_CONTENT_TYPE}" pattern="^application/x-br" />
                    </preCondition>
                    <preCondition name="match css">
                        <add input="{REQUEST_URI}" pattern="^(.*)\.css" />
                    </preCondition>
				</preConditions>
            </outboundRules>      
    </rewrite>
        <staticContent>
            <remove fileExtension=".br" />
            <remove fileExtension=".webp" />
            <remove fileExtension=".webmanifest" />
            <mimeMap fileExtension=".br" mimeType="application/x-br" />
            <mimeMap fileExtension=".webp" mimeType="image/webp" /> 
            <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
        </staticContent>
        <urlCompression doStaticCompression="true" />
</system.webServer>
</configuration>